body {
    background-color: #eaf6f6;
}

hr{
    border-color: #babfbb;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 5%;
}

h1, h2, h3 {
    color: #66bfbf;
}